{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<style>
  body {
    background-image: url('/static/wlv.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
</style>
<div class="container mt-5">
	<h1>Welcome To GUIDE TO WLV</h1>
	<p>Find your way around the University of Wolverhampton with our interactive guide.GUIDE TO WLV is your go-to resource for navigating the University of Wolverhampton campus. Whether you're a new student, a visitor, or just looking to explore, our interactive guide provides detailed maps, directions, and information about key locations on campus. From lecture halls and libraries to dining options and recreational facilities, GUIDE TO WLV has you covered. Start exploring today and make the most of your time at the University of Wolverhampton!</p>
</div>
{% endblock %}
